.commitment-section {
    width: 100%;
    /* gap: 40px; */
    position: relative;
    margin-top: 20px;
  
    img {
      height: 480px;
      width: 37%;
      position: absolute;
      top: 28px;
      right: 9%;
    }
  }
  .commitment1 {
    margin: auto;
    padding-top: 3%;
    padding-bottom: 8%;
    width: 82%;
  }
  .commitment-content {
    width: 42%;
  
    p {
      margin-bottom: 2%;
      color: #dd350f;
      font-size: 18px;
    }
    h1{
        width: 70%;
    }
    h2 {
      font-weight: 500;
      color: #545463;
      margin-top: 10px;
      font-size: 18px;
      letter-spacing: 1px;
      word-spacing: 3px;
      line-height: 30px;
    }
}
.about-fullbanner{
    width: 100%;
    height: 180px;
    border: 1px solid black;
    background-image:url(./../../images/fullbanner.png) ;
    background-color:#363546;
} 
.about-banner{
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;


}